a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.list_tasks_container{
    margin-top: 50px;
    text-align: center;
}

.list_tasks_container main{
    text-align: start;
    position: relative;
    margin-top: 40px;
}

.list_tasks_container main span:active{
    opacity: 0.5;
}

.border_progress_bar{
    width: 30px;
    margin: 0px 30px 0px 30px;
}

.list_tasks_container main .main_header {
    display: flex;
    align-items: center;
}

.list_tasks_container main .main_header .border_progress_bar{
    width: 30px;
    margin: 0px 30px 0px 30px;
}

.list_tasks_container main .main_header .client_name{
    font-size: 13px;
    color: #808080;
}

.list_tasks_container main .main_header .name_service_and_client hr{
    border: none;
    border-bottom: 1px solid #D3D3D3;
}

.list_tasks_container main .tasks {
    margin-top: 15px;
}

.list_tasks_container main .tasks .task{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.list_tasks_container main .tasks .task:active{
    opacity: 0.5;
}

.list_tasks_container main .tasks .task .checkbox{
    width: 12px;
    height: 12px;
    border: 1px solid #808080;
    border-radius: 3px;
    margin-right: 40px;
    margin-left: 40px;
}

.list_tasks_container main .tasks .task .done{
    opacity: 0;
}

.list_tasks_container main .tasks .task .task_name{
    font-size: 14px;
    font-weight: bold;
}

.list_tasks_container main .no_tasks{
    margin-top: 150px;
    text-align: center;
}

.list_tasks_container .open_modal_add_step{
    position: absolute;
    bottom: 90px;
    right: 16px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 30px;
    color: #FFFFFFFF;
    transition: background-color 0.5s;
}

.list_tasks_container .open_modal_add_step:active{
  opacity: 0.5;
}
